@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    padding: 20px;
    background-color: darkred;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
}
a:hover{
    background-color: red;
}