@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background: url('../pacote-d013/pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
}

#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../pacote-d013/pacote-d013/imagens/frame-iphone.png') no-repeat;
}