@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background: url('../pacote-d013/pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../pacote-d013/pacote-d013/imagens/frame-iphone.png') no-repeat;
}

iframe{
    position: absolute;
    top: 81px;
    left: 22px;
    width: 266px;
    height: 469px;
}

#redes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 20px;
    }

img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.612);
}
img:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.61);
    transform: translate(-2px, -2px);
    border: 2.5px solid rgba(255, 255, 255, 0.409);
    transition: translate .4s, border .2s;
}
img:active{
    opacity: 0.7;
    transition: opacity .2s;
}

@media screen and (orientation: portrait) {
    main{
        display: flex;
        gap: 10px;
        justify-content: right;
    }
}

@media screen and (orientation: landscape) {
    main{
    position: relative;
    height: 100vh;
    }
}